
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2f8499ef;
  color: #333;
}


header {
  background: linear-gradient(to right, #495cca, #feb47b);
  color: white;
  padding: 20px 0;
  text-align: center;
}

/* Logo */
.logo {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Brush Script MT', cursive;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}



nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.3s ease;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.form-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-container h2 {
  margin-bottom: 20px;
}

/* Campos del formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

textarea {
  resize: none;
}


button {
  background-color: #ff7e5f;
  color: white;
  font-size: 18px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  background-color: #feb47b;
  transform: scale(1.05);
}


footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #333;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons img {
  width: 20px;
  height: 20px;
  
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}


@media screen and (max-width: 600px) {
  .form-container {
    max-width: 90%;
  }

  input, textarea {
    font-size: 16px;
  }
}
